<html>
<head>
  <title>Check Ticket</title>
</head>
<body>
<section class="registrieren">
  <div class="teil1"> </div>
  <div class="teil2">
    <div class="parent">
    <h1>Ticket kontrollieren</h1>
      <label id="example-radio-group-label">Zu kontrollierendes Ticket auswählen</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="serialno">
        <mat-radio-button class="example-radio-button" *ngFor="let skipass of skipaesse" [value]="skipass.serial_no">
          {{skipass.firstname}} {{skipass.lastname}}
        </mat-radio-button>
      </mat-radio-group>
    <form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Seriennummer eingeben</mat-label>
      <input matInput formControlName="search" [(ngModel)]="serialno">
    </mat-form-field>
      <mat-form-field>
        <mat-label>Wähle das Skigebiet aus:</mat-label>
        <mat-select name="Tarif" formControlName="place" >
          <mat-option *ngFor="let skigebiet of skigebiete" [value]="skigebiet.value">
            {{skigebiet.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-raised-button color="primary"  type="submit">Ticket suchen</button>
    </form>
    </div>
  </div>
  <div class="teil3"> </div>
</section>
<section class="hinweis">
  <div class="teil1"></div>
  <div class="teil3"></div>
</section>
</body>
</html>

