<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
  <title>Kontaktdaten bearbeiten</title>
</head>
<html>
<body>
<section class="persönliche_daten">
  <div class="teil1"> </div>
  <div class="teil2">
    <h1>Kontaktdaten bearbeiten</h1>
    <p>Vorname </p>
    <input type="text" placeholder="Max">
    <p>Nachname </p>
    <input type="text" placeholder="Mustermann">
    <p>Geburtsdatum </p>
    <input type="date" placeholder="Geburtsdatum">
    <p>PLZ:</p>
    <input type="text" placeholder="74821">
    <p> Ort </p>
    <input type="tel" placeholder="Muster Ort">
    <p>Straße, Hausnummer </p>
    <input type="text" placeholder="Musterstr.1">
    <p>E-Mail Adresse </p>
    <input type="email" placeholder="max.mustermann@gmail.com">
    <p>Handynummer </p>
    <input type="tel" placeholder="+49178445632">
    <p> Passwort </p>
    <input type="tel" placeholder="Passwort">
    <p> Passwort wiederholen </p>
    <input type="tel" placeholder="Passwort wiederholen">
    <input type="submit" id="submit" value="Änderungen speichern">
  </div>
  <div class="teil3"> </div>

</section>
</body>
</html>
