body {
font-family:'Roboto',sans-serif ;
display:flex;
background-position: center;
background-size: cover;
background-image: url("../../assets/Pictures/skipiste3.jpg");
padding:0;
font-size:16px;
}

.sign-up_box{
display: grid;
width:50%;
height:921px;
margin:auto;
background-color:rgba(255,255,255,.8);
border-radius:3px;
padding-top: 3%;
padding-bottom: 5%;
}


h1{
text-align:center;
padding-top:10px;
padding-left:40px;
font-size: 55px;
font-style:revert;
font-weight:bold;
}

form {
width:300px;
}

form label{
display:flex;
margin-top:5px;
font-size:16px;
padding:8px;
margin-left:272px;
}

form input {
//padding:8px;
border:1px solid black;
width:450px;
margin-left:280px;
}

.button {
height:25px;
margin-top:25px;
}


