<!DOCTYPE html>

<html>
<body>
<section class="slider" >
  <div class="vorteile">
    <ul>
      <li>18 Skigebiete</li>
      <li>888 km Pisten</li>
      <li>5x Zermatt</li>
    </ul>
  </div>
  <div class="uberschrift">
    <h1>Oberwallis Skipass</h1>
  </div>
  <div class="kaufen">
      <button type="button" [routerLink]="['/skipasskaufen']"> Skipass kaufen
      </button>
  </div>
</section>

<section class="gultigkeit">
  <div class="teil1">
  </div>
  <div class="teil2"><h2>Produkt / Gültigkeit 2022/2023</h2>
  <p>Der Oberwalliser Skipass ist gültig ab 1. November 2022 bis 30. April 2023.</p>
  <p>Dieser Regionalpass berechtigt den Karteninhaber zu ein unbeschränkten Anzahl Tageserstzutritten in den jeweiligen Skigebieten
    ( Stationen sind unten aufgeführt )
    Eine Ausnahme bilden die Zermatt Bergbahnen AG. Hier ist die Anzahl Erstzutritte auf 5 Tage (Zermatt/Cervinia international) beschränkt.</p>
  </div>
  <div class="teil3">
  </div>
</section>

<section class="tarife-uberschrift">
  <div class="teil1"></div>
  <div class="teil2">
    <h2>Tarife</h2>
  </div>
  <div class="teil3"></div>
</section>

<section class="tarife">
  <div class="teil1"></div>
  <div class="teil2" id="liste">
    <table>
      <thead>
      <tr>
        <th>Kategorie</th>
        <th>Preis</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Erwachsene <p>Jg. 2002 und älter</p></td>
        <td>1200€</td>
      </tr>
      <tr>
        <td>Jugendliche <p>Jg. 2003-2006</p></td>
        <td>1000€</td>
      </tr>
      <tr>
        <td>Kinder <p>Jg. 2007-2016</p></td>
        <td>600€</td>
      </tr>
      <tr>
        <td>Babys <p>Jg. 2017 und jünger</p></td>
        <td>Freie Fahrt</td>
      </tr>
      <tr>
        <td>Familienpass*</td>
        <td>3000€</td>
      </tr>
      </tbody>
    </table>
    <p> <b>*Familienpass:</b> Familienkarten werden an Familien abgegeben, die sich aus mindestens einer Erwachsenen Person und einer unbeschränkten Anzahl Kinder bis zum 19. Altersjahr (Kinder und Jugendliche; gem. Familiennachweis) zusammensetzen. Patchwork-Familie: gilt auch, wenn die gleiche Wohnadresse bestätigt wird.
    </p>
  </div>
  <div class="teil3"></div>
</section>

<section class="beteiligt">
  <div class="teil1"></div>
  <div class="teil2">
  <h2>18 beteiligte Stationen</h2>
  <ul>
    <li>Belalp Bahnen AG</li>
    <li>Rosswald Bahnen AG</li>
    <li>Skilifte Rothwald/Wasenalp</li>
    <li>Aletsch Bahnen AG: Riederalp, Bettmeralp, Fiescheralp</li>
    <li>Bellwald Sportbahnen AG</li>
    <li>Bergbahnen Hohsass AG</li>
    <li>Touristische Unternehmung Grächen AG</li>
    <li>Torrent Bahnen Leukerbad-Albinen AG</li>
    <li>Gampel-Jeizinen Bahnen</li>
    <li>Giw / Visperterminen AG</li>
    <li>Lauchernalp Bergbahnen AG</li>
    <li>Moosalp Bergbahnen AG</li>
    <li>Verkehrsbetriebe Unterbäch AG</li>
    <li>Sportbahnen Eischoll AG</li>
    <li>Skilifte Gspon AG</li>
    <li>Zermatt (beschränkt auf 5 Tage pro Saison)</li>
  </ul>
  </div>
  <div class="teil3"></div>
</section>
</body>
</html>
