body{
  margin: 0;
  padding:0;
  font-size:16px;
}
html, body {
    height: auto;
}
a{
  text-decoration: none;
  color: black;
}

.slider{
  background-image: url("../../assets/Pictures/skipiste2.jpg");
  background-position: center;
  background-size: cover;
  animation: slide 90s infinite;
  box-shadow: 8px 8px 10px #aaa;
}
@keyframes slide{
  25%{
  background-image: url("../../assets/Pictures/skipiste4.jpg");
  }
  50%{
  background-image: url("../../assets/Pictures/skipiste6.jpg");
  }
  75%{
  background-image: url("../../assets/Pictures/skipiste7.jpg");
  }
  100%{
  background-image: url("../../assets/Pictures/skipiste2.jpg");
  }
}
.vorteile{
  font-size: 20px;
  font-weight: bolder;
  padding-top: 40px;
}
.vorteile ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding: 0%;
}
.vorteile ul li{
    background: grey;
    border: 3px solid black;
    padding: 0.5%;
    border-radius: 30px;
    width: 150px;
    text-align: center;
}
.uberschrift{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  padding-top: 5%;
  color: #fff;
}
.uberschrift h1{
  font-size: 100px;
  font-weight: bolder;
}
.kaufen{
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.kaufen button{
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.gultigkeit{
padding-top: 5%;
  display:flex;
  justify-center: space-between;
}
.beteiligt{
  padding-top: 2%;
  display:flex;
  justify-center: space-between;
  padding-bottom: 5%;
}
.tarife-uberschrift{
  padding-top: 1%;
  display:flex;
  justify-center: space-between;
}
.tarife{
  display:flex;
}
.teil2{
  width: 50%;
}
.teil1,
.teil3{
  width: 25%
}
table{
  table-layout: auto;
  width: 100%;
  padding-bottom: 4%;
}
table tr{
  font-size:16px;
  padding-top: 15px;
}
table p{
  font-size:14px;
}
@media(max-width:950px){
  .uberschrift h1{
    font-size: 40px;
  }
  .vorteile li{
    margin-top: 10px;
  }
  .kaufen button{
    margin-bottom: 30px;
  }
  .teil1, .teil3{
    width:10%;
  }
 .teil2{
    width:80%;
  }
  .gultigkeit .teil2 h2{
    padding-top:40px;
  }
  .beteiligt .teil2 h2{
    padding-top: 20px;
  }
  .tarife-uberschrift .teil2 h2{
    padding-top: 20px;
  }
}
@media (min-width:951px) and (max-width:1200px){
  .teil1, .teil3{
      width:15%;
    }
   .teil2{
      width:70%;}
}


