.example-container mat-form-field + mat-form-field {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.teil1,.teil3{
  width: 25%;
}
.teil2{
  display: grid;
  justify-content: center;
  padding-top: 3%;
  background:#fff;
  width:50%;
  padding-bottom: 5%;
}

html, body {
  height: auto;
}

body{
  margin: 0;
  padding:0;
  font-size:16px;
}


body{
  background-image: url("../../assets/Pictures/skipiste2.jpg");
  background-position: center;
  background-size: cover;
}

.registrieren{
  display:flex;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}



