<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<head>
  <title>Problem melden</title>
</head>
<html>
<body>
<section class="persönliche_daten">
  <div class="teil1"> </div>
  <div class="teil2">
    <h1>Problem melden</h1>
    <mat-form-field appearance="fill">
      <mat-label>Name </mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Aktuelle E-Mail Adresse </mat-label>
      <input matInput type="email" placeholder="E-Mail Adresse">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Handynummer (für die Rückmeldungen) </mat-label>
      <input matInput type="tel" placeholder="Handynummer">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Betreff</mat-label>
      <input matInput type="text" placeholder="Hier können Sie Ihren Betreff eingeben">
    </mat-form-field>

    <mat-form-field class="input-field">
      <textarea matInput name="questionText" cols="100" rows="5"
                placeholder="Ihre Nachricht" [(ngModel)]="questionText"
                required>
      </textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" id="submit">Absenden</button>
  </div>
  <div class="teil3"> </div>

</section>
</body>
</html>
