<html>
<body>
<section class="bestaetigung">
  <div class="teil1"> </div>
  <div class="teil2">
    <h1>Herzlichen Glückwunsch</h1>
    <h2> Dein Skipass wurde zu deinem Account hinzugefügt.</h2>
    <button mat-raised-button color="primary" [routerLink]="['/tickets']">Hiermit gelingst du zu deiner Tickets-Übersicht</button>
    <h2 id="info">Bitte überweisen Sie den ausgewählten Betrag auf folgendes Konto: </h2>
    <b>Empfänger:</b> Ticketero GmbH
    <p></p>
    <b>IBAN:</b> DE02600501010002034304
    <p></p>
    <b>Bank:</b> LANDESBANK BADEN-WÜRTTEMBERG

    <h2 id="hinweis">Alle Preise und dieselbe Bankverbindung finden Sie auf unserer Homepage.</h2>

  </div>
  <div class="teil3"> </div>
</section>
</body>
</html>
