<html>
<body>
<section class="registrieren">
  <div class="teil1"> </div>
  <div class="teil2">
    <h1>Anmelden</h1>
    <form [formGroup]="anmelden">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="E-Mail Adresse" formControlName="email" required>
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passwort" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button color="primary">Anmelden</button><br>
    <p>Noch keinen Account bei Ticketero? Einfach hier registrieren</p>
    <button mat-raised-button color="primary">Registrieren</button>
    <div class="teil3"> </div>
  </div>
</section>
<section class="hinweis">
  <div class="teil1"></div>
  <div class="teil3"></div>
</section>
</body>
</html>

