<html>
<body>
<section class="registrieren">
  <div class="teil1"> </div>
  <div class="teil2">
    <h1>Anmelden bei Ticketero</h1>
    <form class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>E-Mail Adresse</mat-label>
        <input matInput placeholder="email@example.com" [formControl]="email1" type="email" [(ngModel)] ="email" name="email" required>
        <mat-error *ngIf="email1.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">
        <mat-label>Passwort eingeben</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]= "password" name="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Passwort verbergen'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
        <button mat-raised-button color="primary"  (click)="submit()">Anmelden</button><br>
        <p>Noch keinen Account bei Ticketero? Einfach hier registrieren</p>
        <button mat-raised-button color="primary" [routerLink]="['/registrierungsmaske']">Registrieren</button>
  </form>
  </div>
  <div class="teil3"> </div>
</section>
<section class="hinweis">
  <div class="teil1"></div>
  <div class="teil3"></div>
</section>
</body>
</html>

