body{
  margin: 0;
  padding:0;
  font-size:16px;
}
html, body {
    height: auto;
}

body{
  background-image: url("../../assets/Pictures/skipiste8.jpg");
  background-position: center;
  background-size: cover;
}
.teil1,.teil3{
  width: 25%;
}
h1{
  text-align: center;
}
h2, p, h1{
  padding-left: 10%;
  padding-right: 10%;
}
.teil2{
  display: grid;
  justify-content: center;
  padding-top: 3%;
  width:50%;
  padding-bottom: 2%;
  background: #fff;
  background-color:rgba(255,255,255,.8);
}
.registrieren{
  display:flex;
}

.teil2 h1{
  font-size: 35px;
  font-style:revert;
  font-weight:bold;
  margin-bottom: 40px;
}


@media(max-width:1000px){
  .teil2 h1{
    font-size: 30px;
    text-align: center;
  }
}
@media(max-width:850px){
  .teil2 h1{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  .teil1,.teil3{
    width: 0%;
  }
  .teil2{
      width: 100%;
    }
}
@media (min-width:851px) and (max-width:1200px){
  .teil1, .teil3{
      width:15%;
    }
   .teil2{
      width:70%;}
}
@media(max-width:500px){
}
