<html>
<body>
<section class="kaufformular">
<div class="teil1"> </div>
<div class="teil2">
  <h1>Kaufe dein Skipass</h1>
  <form action="https://formsubmit.co/el/zipice" method="POST">
    <label>Vorname:</label>
    <input type="text" name="vorname" placeholder="Vorname" required>
    <label>Nachname:</label>
    <input type="text" name="Nachname" placeholder="Nachname"required>
    <label>PLZ:</label>
    <input type="text" name="PLZ" placeholder="PLZ"required>
    <label>Strasse:</label>
    <input type="text" name="Strasse" placeholder="Strasse"required>
    <label>Hausnummer:</label>
    <input type="text" name="Hausnummer" placeholder="Hausnummer" required>
    <label>Wähle ein Tarif aus:</label>
    <select name="tarif" id="tarifmenu" required>
      <option value="volvo">Erwachsene 1200€</option>
      <option value="saab">Jugendliche 1000€</option>
      <option value="opel">Kinder 600€</option>
      <option value="audi">Babys kostenlos</option>
      <option value="audi">Familienpass 3000€ </option>
    </select>
    <label>Geburtsadtum:</label>
    <input type="date" name="Geburtsadtum" required>
    <label>E-Mail-Adresse:</label>
    <input type="email" name="E-Mail-Adresse" placeholder="Deine E-Mail-Adresse" required>
    <label>Handynummer</label>
    <input type="tel" name="Handynummer" placeholder="Handynummer">
      <p> </p>
    <button type="submit" id="kaufen" mat-raised-button color="primary" >Kostenpflichtig kaufen</button>
  </form>
</div>
<div class="teil3"> </div>
</section>
<section class="hinweis">
  <div class="teil1"></div>
  <div class="teil4">
    <p>Hinweis zur Zahlungsmethode: der Kauf des Skipasses verpflichtet den Käufer den oben genannten Betrag innerhalb von <b>14 Tagen</b> zu überweisen. </p>
    <p>Die Bankverbindung bekommt der Käufer in der Bestätigungsmail zugestellt.</p>
    <p>Der Skipass ist sofort gültig. Stornierung ist ausgeschloßen!</p>
  </div>
  <div class="teil3"></div>
</section>
</body>
</html>
