<html>
<body>
<section class="kaufformular">
<div class="teil1"> </div>
<div class="teil2">
  <h1>Kaufe deinen Skipass</h1>
  <form #ticketBuy="ngForm" (ngSubmit)="onSubmit(ticketBuy.value)" action="https://formsubmit.co/el/zipice" method="POST" >

    <mat-form-field appearance="fill" >
    <mat-label>Vorname:</mat-label>
    <input matInput type="text" name="Vorname" placeholder="Vorname" ngModel required #Vorname="ngModel">
      <span *ngIf="Vorname.invalid && Vorname.touched" class="error"> Bitte Vorname eingeben </span>
    </mat-form-field>

    <mat-form-field appearance="fill" id="runter">
    <mat-label>Nachname:</mat-label>
    <input matInput type="text" name="Nachname" placeholder="Nachname" ngModel required #Nachname="ngModel">
      <span *ngIf="Nachname.invalid && Nachname.touched" class="error"> Bitte Nachname eingeben </span>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wähle ein Tarif aus:</mat-label>
      <mat-select name="Tarif" ngModel required #Tarif="ngModel" >
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field color="primary" appearance="fill">
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker2" name="Geburtsdatum" ngModel id="bday" required #Geburtsdatum="ngModel">
      <mat-datepicker-toggle matSuffix [for]="picker2">
      </mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill" id="runter">
      <mat-label>Dein Alter:</mat-label>
      <input matInput type="number" name="alter" alter ngModel required #alter="ngModel"  min="18" >
      <span *ngIf="alter.invalid && alter.touched " class="error"> Du musst mindestens 18 Jahre alt sein, um ein Skipass zu kaufen </span>
     </mat-form-field>

    <mat-form-field appearance="fill" id="runter">
    <mat-label>E-Mail-Adresse:</mat-label>
    <input matInput type="text" name="Email" email placeholder="Deine E-Mail-Adresse" ngModel required #Email="ngModel">
      <span *ngIf="Email.invalid && Email.touched" class="error"> Bitte valide E-Mail-Adresse eingeben </span>
    </mat-form-field>

    <mat-form-field appearance="fill" id="runter">
    <mat-label>Handynummer</mat-label>
    <input matInput type="tel" name="Handynummer" placeholder="Handynummer" ngModel >
    </mat-form-field>
      <p> </p>
    <button [disabled]="ticketBuy.invalid" type="submit" id="kaufen" mat-raised-button color="primary" [routerLink]="['/bestaetigung']">Kostenpflichtig kaufen</button>
  </form>
</div>
<div class="teil3"> </div>
</section>
<section class="hinweis">
  <div class="teil1"></div>
  <div class="teil4">
    <p>Hinweis zur Zahlungsmethode: der Kauf des Skipasses verpflichtet den Käufer den oben genannten Betrag innerhalb von <b>14 Tagen</b> zu überweisen. </p>
    <p>Die Bankverbindung bekommt der Käufer in der Bestätigungsmail zugestellt.</p>
    <p>Der Skipass ist sofort gültig. Stornierung ist ausgeschloßen!</p>
  </div>
  <div class="teil3"></div>
</section>
</body>
</html>
