.teil1,.teil3{
  width: 25%;
}
.teil2{
  display: grid;
  justify-content: center;
  padding-top: 3%;
  background: #fff;
  background-color:rgba(255,255,255,.8);
  width:50%;
  padding-bottom: 5%;
}
.teil2 h1 {
  font-size:55px;
  text-align:center;
  margin-top:40px;
  font-style:revert;
  font-weight:bold;
  padding-bottom: 40px;
}
html, body {
  height: auto;
}

body{
  margin: 0;
  padding:0;
  font-size:16px;
}


body{
  background-image: url("../../assets/Pictures/skipiste2.jpg");
  background-position: center;
  background-size: cover;
}

.impressum{
  display:flex;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}


.example-container{
  padding-bottom:150px;
}

@media(max-width:850px){
  .teil2 h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
  }
  .teil1,.teil3{
    width: 0%;
  }
  .teil2, .teil4{
    width: 100%;
  }
  .teil4{
    padding-top: 30px;
  }

}
@media (min-width:851px) and (max-width:1400px){
  .teil1, .teil3{
    width:15%;
  }
  .teil2, .teil4{
    width:70%;}
}
@media(max-width:500px){
  .example-container {
    margin-left:5%;
    margin-right:5%;
  }
  .abstand{
    margin-left:5%;
    margin-right:5%;
  }
  .test, mat-list{
  padding-left:12%;
  }
}
