<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<html>
<head>
  <title>Acountverwaltung</title>
</head>
<body>

<section class="teil1">

  <div class="teil_1">
    <h1>Mein Profil</h1>
  </div>

  <div class="teil_2">
    <h2>Willkomen zurück!</h2>
  </div>



  <div class="liste_der_optionen">
    <ul>
      <li><a href="http://localhost:4200/kontaktdaten">Kontaktdaten bearbeiten</a></li>
      <li><a href="http://localhost:4200/bevorstehendeEvents">Mein Skipass</a></li>
      <li>Verlust melden</li>
      <li>Abmelden</li>
      <li>Problem melden</li>
    </ul>
  </div>

  <div class="extra_div"> </div>


</section>






</body>

</html>
