body{
height:auto;
background-position: center;
background-size: cover;
background-image: url("../../assets/Pictures/skipiste2.jpg");
}
html, body {
    height: auto;
}
.teil1{
display:grid;
justify-content: center;
background-color:rgba(255,255,255,.8);
width:50%;
margin-left:25%;
}

.teil_1 h1 {
font-size:55px;
text-align:center;
margin-top:100px;
font-style:revert;
font-weight:bold;
}

.teil_2 h2 {
margin-top:20px;
font-size:25px;
text-align:center;
font-style:revert;
font-weight:bold;
}

.liste_der_optionen button{
margin-top:40px;
display:grid;
}
.liste_der_optionen{
  padding-bottom: 150px;
  display:grid;
  justify-content: center;
}

.liste_der_optionen p {
padding-top:30px;
}

  @media(max-width:850px){
  .teil2 h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
  }
  .teil1{
  width:100%;
  margin-left:0%;
  }

}
@media (min-width:851px) and (max-width:1400px){
  .teil1{
    width:70%;
    margin-left:15%;
    }

}
@media(min-width:2000px){
.teil1{
  padding-bottom: 150px;
}
}


