<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<html>
<head>
  <title>Acountverwaltung</title>
</head>
<body>

<section class="teil1">

  <div class="teil_1">
    <h1>Mein Profil</h1>
  </div>

  <div class="teil_2">
    <!-- user.email muss zu user.firstname user.lastname später geändert werden -->
    <h2>Willkomen zurück {{user.email}}!</h2>
  </div>

  <div class="liste_der_optionen">
    <button mat-raised-button color="primary" [routerLink]="['/kontaktdaten']" >Kontaktdaten bearbeiten</button>
      <button mat-raised-button color="primary" [routerLink]="['/tickets']">Mein Skipass</button>
      <button mat-raised-button color="primary"[routerLink]="['/kontaktformular']" > Verlust melden </button>
      <button mat-raised-button color="primary" [routerLink]="['/problemmelden']">Problem melden </button>
      <button mat-raised-button color="primary" (click)="logout()"> Abmelden </button>
  </div>
</section>






</body>

</html>
