body{

background-position: center;
background-size: cover;
background-image: url("../../assets/Pictures/picture.jpg");
}


.teil1{
background-color:rgba(255,255,255,.3);
background-size: cover;
display:grid;
height:1000px;
width:750px;
margin-left:27%;

}

.teil_1 {
//background-color:green;
}

.teil_1 h1 {
font-size:55px;
text-align: center;
margin-top:80px;
font-style:revert;
font-weight:bold;
}

.teil_2 h2 {
font-size:25px;
text-align: center;
margin-top:10px;
font-style:revert;
font-weight:bold;

}

.teil_2{
//background-color:yellow;
}

.liste_der_optionen{
//background-color:red;

}

.liste_der_optionen li{
margin-top:40px;
margin-left:30%;
justify-content:center;
text-align:center;
display:flex;
background-color:#F5F5F5;
//#E0FFFF
width:30%;
font-size:18px;
margin-bottom:45px;
padding:10px;
list-style:none;
font-weight:bold;
}

a:href {
      text-decoration:none;
}

.extra_div {
block-size: 280px;
}
