body{
height:auto;
background-position: center;
background-size: cover;
background-image: url("../../assets/Pictures/picture.jpg");
}
html, body {
    height: auto;
}
.teil1{
display:grid;
justify-content: center;
background-color:rgba(255,255,255,.8);
width:50%;
margin-left:25%;
}

.teil_1 h1 {
font-size:55px;
text-align:center;
margin-top:80px;
font-style:revert;
font-weight:bold;
}

.teil_2 h2 {
margin-top:20px;
font-size:25px;
text-align:center;
font-style:revert;
font-weight:bold;
}

.liste_der_optionen button{
margin-top:40px;
display:grid;
}
.liste_der_optionen{
  padding-bottom: 150px;
  display:grid;
  justify-content: center;
}
